
<div style="background-color:#EEF6F6; box-shadow: 0 1em 1em gray;padding-bottom:280px;margin:115px 140px 15px;height:170px;">
  <h2 style="margin-left: 20px;">Change your password</h2>
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :style => 'margin-left: 400px;',:method => :put ,:class=> 'change-password'}) do |f| %>
    
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>
  
    <div><%= f.label :password, "New password" %><br />
    <%= f.password_field :password %></div>
  
    <div><%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation %></div>
  
    <div><%= f.submit "Change my password" %></div>
  <% end %>
</div>
<%#= render "devise/shared/links" %>
